<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>增删改查测试页面</title>
</head>
<!-- <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script> -->
<script type="text/javascript" src="/js/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<body>
43443243
	<!-- <div id="app">
		<table>
			<tr>
				<th><input type="checkbox" id="checkall" /></th>
				<th>ID</th>
				<th>昵称</th>
				<th>密码</th>
				<th>信息</th>
			</tr>
			<tr id="" v-for="user in users">
				<td><input type="checkbox" name="checkone" value="${user.id }" /></td>
				<td>{{ user.id }}</td>
				<td>{{ user.name }}</td>
				<td>{{ user.password }}</td>
				<td>{{ user.info }}</td>
			</tr>
		</table>
	</div>
</body>
<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data : {
				users : []
			},
			created() {
				axios
				.post('/test',{})
				.then(function(resp){
					console.log(resp.data);
					app.users = resp.data;
				})
				.catch(function (error) { // 请求失败处理
					console.log(error);
				})
			}
		});
		
	</script> -->
</html>